<div class="col-span-12 md:col-span-6 lg:col-span-3">
  <div class="card !bg-teal-100">
    <div class="flex justify-between">
      <div class="flex flex-col gap-4">
        <p class="font-medium  text-gray-500">Profesores</p>
        @if (teachersStoreSvc.loadingTeachers()) {
        <p-skeleton shape="circle" size="2rem"></p-skeleton>
        }@else {
        <p class="font-bold text-xl">{{teachersStoreSvc.teachers().length}}</p>
        }

      </div>
      <div class="flex justify-center items-center">
        <i class="pi pi-briefcase text-teal-600 !text-3xl"></i>
      </div>
    </div>
  </div>
</div>
<div class="col-span-12 md:col-span-6 lg:col-span-3">
  <div class="card !bg-sky-100">
    <div class="flex justify-between">
      <div class="flex flex-col gap-4">
        <p class="font-medium  text-gray-500">Cursos</p>
        @if (coursesStoreSvc.loadingCourses()) {
        <p-skeleton shape="circle" size="2rem"></p-skeleton>
        }@else {
        <p class="font-bold text-xl">{{coursesStoreSvc.courses().length}}</p>
        }
      </div>
      <div class="flex justify-center items-center">
        <i class="pi pi-book text-sky-500 !text-3xl"></i>
      </div>
    </div>
  </div>
</div>